input[type='text'] {
	padding-left: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 30vw;
	border-radius: 30px;
}

i {
	position: absolute;
	transform: translate(15px, -60px);
}

.header {
	&__container {
		display: flex;
		align-items: center;
	}

	&__messages {
		display: flex;
		align-items: center;
		margin-left: 25px;
		padding-left: 25px;
		border-left: black 1px solid;
		height: 40px;
	}
}
